@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;

}


.header_nav {
  box-sizing: border-box;
  margin: 20px;

}

h1 {
  display: inline-block;
  font-size: 45px;
  width: 10%;

}

h1:nth-child(3n+1) {
  color: rgb(86, 134, 134);

  :nth-child(3n+2) {
    color: rgb(202, 154, 91);
  }

  :nth-child(3n+3) {
    color: #4A5C2F;
  }

}

.header_nav form {
  display: inline-block;
  width: 85%;
  box-sizing: border-box;
}

.search {
  display: inline-block;
  width: 45%;
  height: 50px;
  border-style: none;
  outline: none;
  background-color: transparent;
}


.search:focus-within {
  background-color: #e9ecef;
  border-radius: 8px;

}


.date {
  display: inline-block;
  text-align: right;
  border-style: none;
  outline: none;
  width: 32%;
  height: 50px;

}


.header_nav button {
  display: inline-block;
  width: 20%;
  height: 50px;
  font-size: 16px;
  background-color: #B1CED4;
  color: rgb(10, 1, 1);
  border: none;
  cursor: pointer;
  border-radius: 5px;

}

.header_nav button:hover {
  background-color: #44bb2c60;
  box-shadow: 0px 8px 16px 0px rgba(54, 129, 104, 0.541);

}

.cards-group {

  display: block;
  box-sizing: border-box;
  width: 75%;
  margin: auto;

}

.dish-card {
  display: inline-block;
  border-radius: 15px 15px 5px 5px;
  background-color: rgba(208, 231, 235, 0.74);
  text-align: center;
  max-width: 180px;
  height: 210px;
  margin: 5px;

}

.dish-card:hover {
  transform: translateY(-10px) scale(1.05);
  transition: box-shadow 0.3s ease;
  box-shadow: 0 10px 20px rgba(46, 56, 27, 0.767);
  cursor: pointer;
}

.imageng {
  display: inline-block;
  width: 180px;
  height: 140px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;

}

.info {
  display: inline-block;
  width: 180px;
  height: 70px;
  margin: 20 px;
}

.info h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
  line-height: 100%;
  text-align: center
}

.info span {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 30px 0 0;
  margin: 10px 0 10px 0;
  font-size: 12px;

}

.sticker {
  background-color: salmon;
  width: 18px;
  border-radius: 50%;
}


.order {
  display: block;
  box-sizing: border-box;
  width: 80%;
  margin: auto;
  padding: 10px;

}

.order button {
  display: inline-block;
  width: 150px;
  height: 58px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
  margin: 0 15px 0 30px;
  color: #D9D9D9;

}

.order button:active {
  background-color: #4A5C2F;

}

.order button:hover {
  opacity: 0, 9;
  color: rgb(51, 28, 37);
}